@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Aeonik", sans-serif;
}

@font-face {
    font-family: 'Aeonik';
    src: url('./fonts/Aeonik-Regular.otf') format('opentype'),
        url('./fonts/Aeonik-RegularItalic.otf') format('opentype'),
        url('./fonts/Aeonik-Thin.otf') format('opentype'),
        url('./fonts/Aeonik-Medium.otf') format('opentype'),
        url('./fonts/Aeonik-Air.otf') format('opentype'),
        url('./fonts/Aeonik-AirItalic.otf') format('opentype'),
        url('./fonts//Aeonik-Black.otf') format('opentype'),
        url('fonts/Aeonik-BlackItalic.otf') format('opentype'),
        url('./fonts/Aeonik-Bold.otf') format('opentype'),
        url('./fonts/Aeonik-BoldItalic.otf') format('opentype'),
        url('./fonts/Aeonik-Light.otf') format('opentype'),
        url('./fonts/Aeonik-LightItalic.otf') format('opentype'),
        url('./fonts/Aeonik-MediumItalic.otf') format('opentype'),
        url('./fonts/Aeonik-ThinItalic.otf') format('opentype'),
        /* Add additional font formats if necessary */
        /* Specify the correct path to the font files */
}

.clipped {
    clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
}

.clipped_2 {
    clip-path: polygon(13% 0, 100% 0%, 100% 100%, 0 100%);
}

.explore-card::-webkit-scrollbar {
    display: none;
}